<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uniulm.loraparkapplication">

    <!-- Permissions for the OSM Map in the sensor overview -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- TODO: Check if this is correct -->

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoRaPark">

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCX2vXww-T2_kjgHNCHijhRqz4edO6wZLw" />
        <receiver
            android:name=".broadcast.FenceReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".RuleDetailActivity"
            android:label="@string/label_rule_details"
            android:parentActivityName=".RuleOverviewActivity" />
        <activity
            android:name=".DownloadRuleActivity"
            android:label="@string/label_download_rule"
            android:parentActivityName=".RuleOverviewActivity" />
        <activity
            android:name=".SensorDetailActivity"
            android:label="@string/label_sensor_details"
            android:parentActivityName=".SensorOverviewActivity" />
        <activity
            android:name=".SensorOverviewActivity"
            android:label="@string/label_sensor_overview"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RuleOverviewActivity"
            android:label="@string/label_rule_overview"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>